<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sanssys.solution.pssolutions">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="sanssys.solution.pssolutions.PSSolution"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSSolution"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true">

        <activity
            android:name="sanssys.solution.pssolutions.PaymentGateway"
            android:exported="false" />
        <activity
            android:name="sanssys.solution.pssolutions.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>